/* 2196F3 blue logo color */
/* 000000 black logo color */
/* FFFFFF white logo color */
/* 212121 h2 color */
/* 757575 tel color */
/* 757575 p color */

:root {
  --main-font-color: #212121;
  --paragraph-color: #757575;
  --primary-logo-color: #2196f3;
  --secondary-logo-color: #ffffff;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --btn-secondary-color: #f5f4fa;
  --card-border-color: #eeeeee;
  --footer-bgd-color: #2f303a;
}

body {
  background-color: #f5f5f5;
  color: var(--main-font-color);
  font-family: 'Roboto', sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.link:visited {
  color: var(--main-font-color);
}

.list {
  list-style: none;
}

.capitalize {
  text-transform: uppercase;
}

/* Стилі шапки */
.menu {
  background-color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.logo {
  color: var(--primary-logo-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-text-header {
  color: var(--main-font-color);
}

.item > .link:hover,
.item > .link:focus {
  color: var(--primary-logo-color);
}

.item > .link.current {
  color: var(--primary-logo-color);
}

.navi-contacts .navi-link {
  color: var(--paragraph-color);
}

.item > .navi-link:hover,
.item > .navi-link:focus {
  color: var(--primary-logo-color);
}

/* Стилі героя */
.hero {
  background-color: var(--footer-bgd-color);
}

.hero-title {
  color: var(--secondary-logo-color);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
}

/* Button-primary */
.button-primary {
  color: var(--secondary-logo-color);
  background-color: var(--primary-logo-color);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  cursor: pointer;
}

/* Стилі заголовків секцій */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}

/* Стилі особливостей */

.features-title {
  font-size: 14px;
  line-height: calc(16 / 14);
}

.features-desc {
  color: var(--paragraph-color);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
}

/* Стилі нашої команди */

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}

.team-role {
  color: var(--paragraph-color);
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}

/* Стилі підвалу */
.footer {
  background-color: var(--footer-bgd-color);
}

.logo-text-footer {
  color: var(--secondary-logo-color);
}

.footer-contacts {
  color: var(--secondary-logo-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.address-link {
  color: var(--secondary-logo-color);
}

.address-link:visited {
  color: var(--secondary-logo-color);
}

.footer-link {
  color: var(--contacts-color);
}

/* btn-secondary */
.button-secondary {
  color: var(--main-font-color);
  background-color: var(--btn-secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
}

.button-secondary:hover,
.button-secondary:focus {
  color: var(--secondary-logo-color);
  background-color: var(--primary-logo-color);
}

.card {
  outline: solid 1px var(--card-border-color);
}

/* Стилі заголовків портфоліо */
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-description {
  color: var(--paragraph-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
